<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="/app/logs/nlog-internal.log">
	<!-- Define various log targets -->
	<targets>
		<!-- Write logs to file -->
		<target xsi:type="File" name="logfile"
				fileName="/app/logs/GI_API_${date:format=yyyy-MM}.log"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

		<!-- Write logs to console -->
		<target xsi:type="Console"
				name="logconsole"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
	</targets>
	<!-- Define rules to map from logger name to target -->
	<rules>
		<!-- All logs, including from Microsoft -->
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
	</rules>
</nlog>